main.contacts-container {
    /* display: grid; */
    
}

ul.contacts-list {
    display: grid;
    grid-template-columns: repeat( 3, minmax(250px, 1fr) );
    grid-gap: 10px;
}

ul.contacts-list li.contacts-list-item {
    margin-bottom: 1rem;
    list-style: none;
    width: 20rem;
}